force-app/main/default/flows/Order_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>sends the data to the NPS API</description>
        <name>Send_Post_Request</name>
        <label>Send Post Request</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>NpsServiceConsumer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>Order_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>setting flow variable</description>
        <name>Set_Order_Id</name>
        <label>Set Order Id</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Order_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Post_Request</targetReference>
        </connector>
    </assignments>
    <description>add a basic Flow, that executes your Action whenever an Order Status is changed to Fulfilled</description>
    <environments>Default</environments>
    <interviewLabel>Order Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Order_Id</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Status}, &apos;Fulfilled&apos;)</filterFormula>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of an order that got fulfulled</description>
        <name>Order_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
